.header {
    position: absolute;
    padding: 0 88px;
    width: 100%;
    z-index: 8;

    @media (max-width: 768px) {
      padding: 0 32px;
    }

    .header-inner {
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .portfolio {
        font-size: 1.4rem;
        margin: 0 3rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        &:first-child {
          margin-left: 0rem;
        }
        &:last-child {
          margin-right: 0rem;
        }
      }
      .hamburger-menu {
        cursor: pointer;
        display: block;
        width: 100%;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }