.home{
    position: relative;
    height: 100vh;
    width: 100%;

    .inner-home {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .container {
        flex-grow: 1;
        margin: 0 auto;
        padding: 0 32px;
        position: relative;
        width: 100vw;
        font-size: 1.2rem;
        z-index: 1;
        
        @media (min-width: 1024px) {
          max-width: 960px;
        }
      
        @media (min-width: 1216px) {
          max-width: 1152px;
        }
      
        @media (min-width: 1480px) {
          max-width: 1244px;
        }
      }

      .headline {
        h1 {
          margin-top: 0;
          font-size: 3.052em;
          font-weight: 700;
          text-align: left;
          width: 100%;

          &:hover {
            color: black;
            -webkit-text-fill-color: white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            cursor: none;
          }
        }
      }

      .main-headline {
        font-weight: 400;
        line-height: 10rem;
        font-size: 12rem;
        color: #fff;
        mix-blend-mode: difference;
        width: 100%;
        position: absolute;
        z-index: 10;
        left: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
      

        span.semi-bold {
          font-weight: 400;
          &:hover {
            cursor: pointer;
          }
        }

        span.underline {
          text-decoration: underline;
        }

        &.small {
          font-size: 5rem;
        }

        &:hover {
          color: black;
          -webkit-text-fill-color: white; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
      }
      
      .image {
        width: 1000px;
        margin: 0 auto;
  
        img {
          width: 100%;
        }
      }
    }
    
  .container {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    width: auto;
  
    @media (min-width: 1024px) {
      max-width: 960px;
    }
  
    @media (min-width: 1216px) {
      max-width: 1152px;
    }
  
    @media (min-width: 1480px) {
      max-width: 1244px;
    }
    
    &.fluid {
      padding: 0;
      margin: 0;
      max-width: 100% !important;
    }
  }
  
  .body-lock {
    overflow-y: hidden;
  }
  .cursor {
    cursor: pointer;
    height: 2.5rem;
    width:2.5rem;
    position:absolute;
    z-index: 10;
    top:0;
    background: var(--cursor);
    border-radius: 100%;
    pointer-events: none;
  }
 
}


